.gcloudignore

.git
.gitignore

# Include everything from .gitignore
#!include:.gitignore

# Explicitly include config.json so that the http function can access it
# This has to be done because this file is .gitignored
!config.json
